output HDMI-A-1 pos 900 0 res 1920x1080
output HDMI-A-2 res 1600x900
output HDMI-A-2 transform 90

include "$HOME/.cache/wal/colors-sway"

set $mod Mod4

xwayland enable
smart_gaps on
gaps set 5px

exec waybar

exec_always "$HOME/.config/mako/launch.sh"

exec_always "$HOME/bin/import-gsettings" \
	gtk-theme:gtk-theme-name \
	icon-theme:gtk-icon-theme-name

floating_modifier $mod
tiling_drag enable
focus_follows_mouse on

bindsym $mod+Return exec kitty

bindsym $mod+p exec grim ~/screenshots/$(date +"%Y-%m-%d-%H-%M-%S").png
bindsym $mod+Shift+p exec slurp | grim -g - ~/screenshots/$(date +"%Y-%m-%d-%H-%M-%S").png

bindsym $mod+d exec dmenu_path | wmenu | xargs swaymsg exec --

bindsym XF86AudioMute exec amixer set PCM toggle
bindsym XF86AudioPlay exec playerctl play-pause
bindsym XF86AudioNext exec playerctl next
bindsym XF86AudioPrev exec playerctl previous

bindsym $mod+w kill
bindsym $mod+l splith
bindsym $mod+i splitv
bindsym $mod+f fullscreen
bindsym $mod+Shift+space floating toggle

bindsym Control+Space exec makoctl dismiss
bindsym Control+Shift+Space exec makoctl dismiss --all

bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

bindsym $mod+Alt+Left workspace prev
bindsym $mod+Alt+Right workspace next
bindsym $mod+Alt+Shift+Left move container to workspace prev
bindsym $mod+Alt+Shift+Right move container to workspace next